@{
    Layout = "~/Shared/_MasterPage.cshtml";
}

<div id="main-picture" class="container-fluid hidden-phone">
    <div class="container">
        <img class="row center-block visible-md visible-lg" src="/content/img/portret.jpg" alt="Alexander Morozov's portret" />
        <img class="row center-block visible-sm" src="/content/img/portret-small.jpg" alt="Alexander Morozov's portret" />
    </div>
</div>

<div class="border container-fluid padding-down"></div>

<article id="content" class="container">
    <div class="col-md-12">
        <p id="slogan">Я руководитель, преподаватель, разработчик.
               Моя задача - помогать коллегам разрабатывать качественное программное обеспечение на профессиональном уровне.</p>
    </div>
    <div id="projects" class="row">
        <ul>
            <li class="col-md-4">
                <a href="/Talks">
                    <div>
                        <img class="center-block" src="/content/img/talks.png" alt="Выступления" />
                        <h3 class="text-center">Выступления</h3>
                        <p>Вы можете просмотреть записи моих выступлений и узнать о ближайших мероприятиях, в которых я планирую принять участие.</p>
                    </div>
                </a>
            </li>
            <li class="col-md-4">
                <a href="/">
                    <div>
                        <img class="center-block" src="/content/img/mentoring.png" alt="Менторство" />
                        <h3 class="text-center">Менторство</h3>
                        <p>Вы можете привлечь меня в ваш проект в качестве эксперта по технологиям и управлению разработкой, а также для построения и оценки бизнес-моделей.</p>
                    </div>
                </a>
            </li>
            <li class="col-md-4">
                <a href="/">
                    <div>
                        <img class="center-block" src="/content/img/questions.png" alt="Ответы на вопросы" />
                        <h3 class="text-center">Ответы на вопросы</h3>
                        <p>Вы можете задавать мне вопросы, касающие профессиональных тем разработки программного обеспеченияя и управления.</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</article>

<div class="border container-fluid padding-up"></div>

<div id="social-links" class="container-fluid">
    <div class="container">
        <h2 class="text-center">Вы можете найти меня в социальных сетях</h2>
        <ul>
            <li class="col-md-4"><a href="https://twitter.com/avmorozov"><img class="center-block" src="/content/img/twitter.png" alt="twitter" /></a></li>
            <li class="col-md-4"><a href="https://www.facebook.com/alexander.v.morozov"><img class="center-block" src="/content/img/facebook.png" alt="facebook" /></a></li>
            <li class="col-md-4"><a href="http://www.linkedin.com/profile/view?id=3969888"><img class="center-block" src="/content/img/linkedin.png" alt="linkedin" /></a></li>
        </ul>
    </div>
</div>

